{{ define "main" }}
<article class="review" itemscope itemtype="https://schema.org/Movie">
  <header class="review-header">
    {{ if .Params.image }}
      <div class="review-poster">
        <img itemprop="image" src={{.Params.image}} alt="Poster">
        {{ if .Params.favorite }}
          <a class="review-favorite" href="{{.Site.BaseURL}}favorites">
            <span hidden>Favorite</span>
            {{ partial "star.html" }}
          </a>
        {{end}}
      </div>
    {{ end }}
    <h1 itemprop="name">{{- .Title -}}</h1>
    <h2 class="subtitle-small color:deemphasize" style="margin-top: -30px">
      {{- .PublishDate | time.Format ":date_long" -}}
    </h2>
    {{ partial "quicklook.html" . }}
    {{ partial "metadetails.html" . }}
  </header>
  <div class="core-content">
    {{- .Content -}}
  </div>
</article>
{{ end }}
