{{ define "main" }}
<article class="review">
  <header class="review-header">
    {{ if .Params.image }}
      <div class="review-poster">
        <img src={{.Params.image}} alt="Poster">
        {{ if .Params.favorite }}
          <div class="review-favorite">
            {{ partial "star.html" }}
          </div>
        {{end}}
      </div>
    {{ end }}
    <h1>{{- .Title -}}</h1>
    <h2 class="subtitle-small color:deemphasize" style="margin-top: -30px">
      {{- .PublishDate.Format "August 2, 2006" -}}
    </h2>
    {{ partial "quicklook.html" . }}
  </header>
  <div class="core-content">
    {{- .Content -}}
  </div>
</article>
{{ end }}
