{{ define "main" }}
  <section class="home-page-header">
    <header class="stack s1">
      <h1>{{ .Title }}</h1>
      <div class="core-content">
        {{- .Content -}}
      </div>
    </header>
    <div class="cards">
      {{ range (where .Site.Pages "Section" "reviews")  }}
         {{ range $index, $element := (where .Pages ".Params.favorite" "==" true) }}
            {{ if gt 3 $index}}
              {{- $element.Render "eager_summary" -}}
            {{ else }}
              {{- $element.Render "summary" -}}
            {{end}}
         {{ end }}
      {{ end }}
    </div>
  </section>
{{end}}
