<div class="card">
  <div class="card-image">
    <img class="card-image" src={{ .Params.image }} alt="Poster for {{- .Title -}}" />
    {{ if .Params.favorite }}
      <a class="card-favorite-star" href="{{.Site.BaseURL}}favorites">
        <span hidden>Favorite</span>
        {{ partial "star.html" }}
      </a>
    {{ end }}
  </div>
  <section class="card-content">
    <header>
      <h3 class="subtitle{{if gt (len .Title) 20 }} card-title-long{{end}}">
          {{- .Title | truncate 50 "..." -}}
      </h3>
    </header>
    <div>
      {{- .Summary | truncate 90 "..." -}}
    </div>
    <div class="cluster spacing:between">
      <div class="cluster s1 align:center">
        Rating:
        <span class="numbers">{{ .Params.rating }}/5</span>
      </div>
      <div>
        <a class="button" href="{{ .RelPermalink }}">
          Read review
        </a>
    </div>
  </div>
</div>
