<div class="card">
  <div class="card-image">
    <img loading="lazy" class="card-image" src={{ .Params.image }} alt="{{- .Title -}}" />
    {{ if .Params.favorite }}
      <div class="card-favorite-star">
        {{ partial "star.html" }}
      </div>
    {{ end }}
  </div>
  <section class="card-content">
    <header>
      <h3 class="subtitle{{if gt (len .Title) 20 }} card-title-long{{end}}">
          {{- .Title | truncate 50 "..." -}}
      </h3>
    </header>
    <div style="text-align: justify;">
      {{- .Summary | truncate 80 "..." -}}
    </div>
    <div class="cluster spacing:between">
      <div class="cluster s1 align:center">
        <img src="{{site.BaseURL}}imdb-logo-small.png" class="icon" alt="imbd logo">
        <span class="numbers">{{- lang.NumFmt 1 .Params.imdb -}}</span>
      </div>
      <div>
        <a class="button" href="{{ .RelPermalink }}">
          Read review
        </a>
    </div>
  </div>
</div>
