{{define "main"}}
  <section>
    <header class="cluster s1 spacing:between" style="align-items: center; margin-bottom: 10px">
      <h1>{{.Title}}</h1>
      <a class="button button:large" href="{{.Site.BaseURL}}genres">Back to Genres</a>
    </header>
    <div class="cards">
      {{ range $index, $element := .Pages }}
        {{ if gt 3 $index}}
          {{- $element.Render "eager_summary" -}}
        {{ else }}
          {{- $element.Render "summary" -}}
        {{end}}
      {{ end }}
    </div>
  </section>
{{end}}
