<head>
  <title>{{ .Title }}</title>
  {{ partial "top_level_sharing.html" . }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎥</text></svg>">
  <link rel="stylesheet" href="/film/style.css">
  <link rel="stylesheet" href="/film/card.css">
  <link rel="stylesheet" href="/film/review.css">
  <link rel="stylesheet" href="/film/quick_look.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Merriweather:wght@400;700&family=Rufina&display=swap" rel="stylesheet">
</head>
