.quicklook {
  max-width: 600px;
  border-radius: 16px;
  background: var(--color-quicklook-background);
  color: var(--color-quicklook-primary);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quicklook-emphasized-color {
  color: var(--color-quicklook-emphasized) !important ;
}

.quicklook-info {
  display: inline-flex;
}

.quicklook-details {
  display: flex;
  gap: 30px;
}

.quicklook-rating {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.quicklook-genre-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.quicklook-genre-container  {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0px 20px;
}

.quicklook-genre {
  text-transform: uppercase;
  font-weight: bold;
}
