:root {
  --title-font-family: 'Merriweather', serif;
  --title-font-weight: 700;
  --title-font-line-height: 1.25;
  --title-font-size: 64px;
  --title-font-letter-spacing: -0.04em;

  --h2-font-family: 'Merriweather', serif;
  --h2-font-weight: 700;
  --h2-font-line-height: 1.2;
  --h2-font-size: 40px;
  --h2-font-letter-spacing: -0.02em;

  --subtitle-font-family: 'Rufina', serif;
  --subtitle-font-weight: 700;
  --subtitle-font-line-height: 1.25;
  --subtitle-font-size: 24px;
  --subtitle-font-letter-spacing: -0.02em;

  --subtitle-small-font-family: 'Rufina', serif;
  --subtitle-small-font-weight: 400;
  --subtitle-small-line-height: 1.25;
  --subtitle-small-font-size: 20px;
  --subtitle-small-font-letter-spacing: -0.02em;

  --body-font-family: 'Inika', serif;
  --body-font-weight: 400;
  --body-font-line-height: 1.625;
  --body-font-size: 16px;
  --body-font-letter-spacing: 0.04em;

  --caption-font-family: 'Inika', serif;
  --caption-font-weight: 400;
  --caption-font-line-height: 1.2;
  --caption-font-size: 12px;
  --caption-font-letter-spacing: 0.05em;

  --button-font-family: 'Inika', serif;
  --button-font-weight: 700;
  --button-font-line-height: 1.625;
  --button-primary-font-size: 16px;
  --button-large-font-size: 24px;
  --button-font-letter-spacing: 0.1em;

  --numbers-font-family: 'Monaco', sans-serif;
  --numbers-font-weight: 400;
  --numbers-font-line-height: 1;
  --numbers-font-size: 16px;
  --numbers-font-size-large: 40px;
  --numbers-font-letter-spacing: -0.02em;

  --color-primary: #FFFFFF;
  --color-secondary: #110F12;
  --color-accent: #D2002E;
  --color-light-background: #f2f2f2;
  --color-dark-background: #333;
  --color-link: #1D4F8C;
  --color-deemphasize: #4D4D4D;
  font-size: var(--body-font-size);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body, p, section, header, article {
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  line-height: var(--body-font-line-height);
  letter-spacing: var(--body-font-letter-spacing);
}

p {
  text-align: justify;
}

.text-align\:center {
  text-align: center !important;
}

html, body {
  background: var(--color-light-background);
  color: var(--color-secondary);
  min-height: 100vh;
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 930px;
}

.title, h1 {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  line-height: var(--title-font-line-height);
  font-size: var(--title-font-size);
  letter-spacing: var(--title-font-letter-spacing);
}
.h2, h2 {
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-font-line-height);
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-font-letter-spacing);
}
.subtitle, h3, h4, h5, h6 {
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-font-line-height);
  font-size: var(--subtitle-font-size);
  letter-spacing: var(--subtitle-font-letter-spacing);
}
.subtitle-small {
  font-family: var(--subtitle-small-font-family);
  font-weight: var(--subtitle-small-font-weight);
  line-height: var(--subtitle-small-font-line-height);
  font-size: var(--subtitle-small-font-size);
  letter-spacing: var(--subtitle-small-font-letter-spacing);
}

.caption {
  font-family: var(--caption-font-family);
  font-weight: var(--caption-font-weight);
  line-height: var(--caption-font-line-height);
  font-size: var(--caption-font-size);
  letter-spacing: var(--caption-font-letter-spacing);
  text-transform: uppercase;
}
.numbers {
  font-family: var(--numbers-font-family);
  font-weight: var(--numbers-font-weight);
  line-height: var(--numbers-font-line-height);
  font-size: var(--numbers-font-size);
  letter-spacing: var(--numbers-font-letter-spacing);
}
.numbers-large {
  font-family: var(--numbers-font-family);
  font-weight: var(--numbers-font-weight);
  line-height: var(--numbers-font-line-height);
  font-size: var(--numbers-font-size-large);
  letter-spacing: var(--numbers-font-letter-spacing);
}

ol {
  padding-left: 40px;
}

li::marker {
  font-family: var(--numbers-font-family);
  font-weight: var(--numbers-font-weight);
  line-height: var(--numbers-font-line-height);
  font-size: var(--numbers-font-size);
  letter-spacing: var(--numbers-font-letter-spacing);
}

button, .button {
  border: none;
  width: auto;
  overflow: visible;
  text-align: inherit;
  outline: none;

  background: transparent;
  /* inherit font & color from ancestor */
  font: inherit;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  line-height: var(--button-font-line-height);
  font-size: var(--button-primary-font-size);
  letter-spacing: var(--button-font-letter-spacing);
  text-transform: uppercase;
}
.button\:large {
  font-size: var(--button-large-font-size);
}
a {
  color: var(--color-link);
}
a:hover {
  color: var(--color-accent);
}

.color\:accent {
  color: var(--color-accent);
}
.color\:invert {
  color: var(--color-primary);
}
.bg\:secondary {
  background: var(--color-secondary);
}
.color\:deemphasize {
  color: var(--color-deemphasize);
}
.navbar {
  display: flex;
}
.navbar-list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--color-secondary);
  color: var(--color-primary);
}

.cluster {
  display: flex;
}
.stack {
  display: flex;
  flex-direction: column;
}

.spacing\:between {
  justify-content: space-between;
}
.align\:center {
  align-items: center;
}
.justify\:center {
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  overflow: hidden;
}

.s1 {
  gap: 10px;
}
.s2 {
  gap: 20px;
}
.s3 {
  gap: 30px;
}

.p1 {
  padding: 10px;
}

.core-content {
  margin: 30px 10px;
}

.core-content p {
  margin-bottom: 20px;
  margin-top: 20px;
  text-indent: 4ch;
  padding: 0 10px;
}

.core-content h2, .core-content h3 {
  margin-top: 30px;
  margin-bottom: -10px;
}

.http-status {
  font-size: calc(10ch + 10vw);
  font-family: var(--numbers-font-family);
  letter-spacing: 5px;
}

.http-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.http-page p {
  text-align: center;
}

.http-header {
  class="home-page-header" margin-top: 10vh;
}

.carasol {
  display: flex;
  overflow: auto;
  gap: 10px;
  padding-bottom: 20px;
}
